files:

# remove the chromedriver before deployment to enable clean deployments.
# the chromedriver causes a "textfile busy" error if not removed before deployment.
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_clean_server.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      mkdir -p /BrowserDrivers
      sudo rm -rf /BrowserDrivers/chromedriver

# extract the chromedriver into the BrowserDrivers folder and chmod chromedriver 755
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_clean_server.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/usr/bin/env bash
        cd /BrowserDrivers
        sudo wget https://chromedriver.storage.googleapis.com/75.0.3770.90/chromedriver_linux64.zip
        sudo unzip chromedriver_linux64.zip
        sudo rm chromedriver_linux64.zip
        sudo chmod 755 chromedriver