
# install cloudwatch agent rpm package
packages:
  rpm:
    amazon-cloudwatch-agent: https://s3.amazonaws.com/amazoncloudwatch-agent/amazon_linux/amd64/latest/amazon-cloudwatch-agent.rpm

# get cloudwatch agent configuration file from s3
files:
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json":
    mode: "000755"
    owner: root
    group: root
    source: https://followear-resources.s3.amazonaws.com/cloudwatch_agent_config.json


#start cloudwatch agent
container_commands:
  01-remove-extra-config:
    command: sudo rm -rf config.json.bak
    cwd: /opt/aws/amazon-cloudwatch-agent/bin
  02-start-cloudwatch:
    command: |
      sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json -s
    cwd: /
