commands:
  create_post_dir:
    command: "mkdir -p /BrowserDrivers"
    ignoreErrors: true
  delete_chrome_driver:
    command: "rm /BrowserDriver/chromedriver"
    ignoreErrors: true
sources:
  /BrowserDrivers: https://chromedriver.storage.googleapis.com/75.0.3770.90/chromedriver_linux64.zip
  /Chromium: https://followear-resources.s3.amazonaws.com/chrome-headless-lambda-linux-x64.tar.gz
commands:
  chmod_chromedriver:
    command: "chmod 755 /BrowserDrivers/chromedriver"
    ignoreErrors: true